<!DOCTYPE html>
<html>
  <head>
  	<title>Ruby on Rails Tutorial Sample App | About Us</title>
  </head>
  <body>
	<h1>About Us</h1>
	<p>
  	  Ed is a coder. You can see a website of his at <a href='http://religiondiscussion.com'>Religion Discussion</a>.
	</p>
  </body>
</html>